/* ==========================================================================
   Include variables and mixins
   ========================================================================== */
/* ==========================================================================
   Global CSS variables
   ========================================================================== */
:root {
  --qode-main-color: #0000B4;
  --qode-second-main-color: #EBD616;
  --qode-header-light-color: #fff;
  --qode-header-light-hover-color: #fff;
  --qode-header-dark-color: #000;
  --qode-header-dark-hover-color: #000;
}

/* ==========================================================================
   Typography variables
   ========================================================================== */
/* ==========================================================================
   Box variables
   ========================================================================== */
/* ==========================================================================
   Color variables
   ========================================================================== */
/* ==========================================================================
   Devices screen size variables
   ========================================================================== */
/* ==========================================================================
   Typography mixins
   ========================================================================== */
/* ==========================================================================
   Underline mixins - start
   ========================================================================== */
/* ==========================================================================
   Typography mixins - end
   ========================================================================== */
/* ==========================================================================
   Menu mixins - begin
   ========================================================================== */
/* ==========================================================================
   Menu mixins - end
   ========================================================================== */
/* ==========================================================================
   Layout mixins - begin
   ========================================================================== */
/* ==========================================================================
   Layout mixins - end
   ========================================================================== */
/* ==========================================================================
   Input fields mixins - begin
   ========================================================================== */
/* ==========================================================================
   Input fields mixins - end
   ========================================================================== */
/* ==========================================================================
   Pagination mixins - begin
   ========================================================================== */
/* ==========================================================================
   Pagination mixins - end
   ========================================================================== */
/* ==========================================================================
   Grid size mixins - begin
   ========================================================================== */
/* ==========================================================================
   Grid size mixins - end
   ========================================================================== */
/* ==========================================================================
   Helper mixins - begin
   ========================================================================== */
/* ==========================================================================
   Helper mixins - end
   ========================================================================== */
/* ==========================================================================
   Common mixins - begin
   ========================================================================== */
/* ==========================================================================
   Common mixins - end
   ========================================================================== */
/* ==========================================================================
   Custom Effect mixins - begin
   ========================================================================== */
/* ==========================================================================
   Custom Effect mixins - end
   ========================================================================== */
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 500;
  color: #0000B4;
  background-color: #ffffff;
}

h1 {
  font-family: "Inter", sans-serif;
  letter-spacing: -0.02em;
  color: #0000B4;
  font-size: 60px;
  line-height: 1.13333em;
  font-weight: 700;
  margin: 20px 0;
}

h1 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h1 a:focus, h1 a:hover {
  color: var(--qode-main-color);
}

h2 {
  font-family: "Inter", sans-serif;
  letter-spacing: -0.02em;
  color: #0000B4;
  font-size: 48px;
  line-height: 1.125em;
  font-weight: 600;
  margin: 20px 0;
}

h2 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h2 a:focus, h2 a:hover {
  color: var(--qode-main-color);
}

h3 {
  font-family: "Inter", sans-serif;
  letter-spacing: -0.02em;
  color: #0000B4;
  font-size: 40px;
  line-height: 1.2em;
  font-weight: 600;
  margin: 20px 0;
}

h3 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h3 a:focus, h3 a:hover {
  color: var(--qode-main-color);
}

h4 {
  font-family: "Inter", sans-serif;
  letter-spacing: -0.02em;
  color: #0000B4;
  font-size: 31px;
  line-height: 1.22581em;
  font-weight: 600;
  margin: 20px 0;
}

h4 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h4 a:focus, h4 a:hover {
  color: var(--qode-main-color);
}

h5 {
  font-family: "Inter", sans-serif;
  letter-spacing: -0.02em;
  color: #0000B4;
  font-size: 22px;
  line-height: 1.36364em;
  font-weight: 600;
  margin: 20px 0;
}

h5 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h5 a:focus, h5 a:hover {
  color: var(--qode-main-color);
}

h6 {
  font-family: "Inter", sans-serif;
  letter-spacing: -0.02em;
  color: #0000B4;
  font-size: 18px;
  line-height: 1.33333em;
  font-weight: 600;
  margin: 20px 0;
}

h6 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h6 a:focus, h6 a:hover {
  color: var(--qode-main-color);
}

a,
p a {
  color: #0000B4;
  text-decoration: none;
  transition: color 0.3s ease-out;
  cursor: pointer;
}

a:focus, a:hover,
p a:focus,
p a:hover {
  color: var(--qode-main-color);
}

p {
  margin: 10px 0;
}

blockquote {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.02em;
  color: #0000B4;
  font-size: 22px;
  line-height: 1.36364em;
  font-weight: 600;
  position: relative;
  padding: 30px 10% 11px 53px;
  border: none;
  quotes: none;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  blockquote {
    padding: 30px 3% 11px 53px;
  }
}

blockquote.wp-block-quote.is-large, blockquote.wp-block-quote.is-style-large {
  padding: 30px 10% 11px 53px;
}

@media only screen and (max-width: 768px) {
  blockquote.wp-block-quote.is-large, blockquote.wp-block-quote.is-style-large {
    padding: 30px 3% 11px 53px;
  }
}

blockquote.wp-block-pullquote {
  padding: 25px !important;
  text-align: center;
}

blockquote.wp-block-pullquote p {
  font-size: 28px !important;
  line-height: 1.6 !important;
}

blockquote.wp-block-pullquote.alignleft {
  max-width: 420px;
}

blockquote.wp-block-pullquote.alignright {
  max-width: 420px;
}

blockquote.has-text-align-right:before {
  left: auto;
  right: 0;
}

blockquote:before {
  content: '';
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='103.753' height='84.798' viewBox='0 0 103.753 84.798'%3E%3Cpath data-name='Path 49398' d='M26.936 37.91q9.477.748 15.338 6.983t5.861 15.713a24.083 24.083 0 0 1-6.605 17.209A21.879 21.879 0 0 1 24.941 84.8a22.773 22.773 0 0 1-17.957-7.981Q.001 68.838.001 54.119a69.238 69.238 0 0 1 5.238-27.31 74.917 74.917 0 0 1 15.713-23.07A11.169 11.169 0 0 1 29.43 0a12.64 12.64 0 0 1 8.729 3.367 10.046 10.046 0 0 1 3.741 7.607 9.571 9.571 0 0 1-2.993 6.983Q29.93 27.435 26.936 37.91Zm55.618 0q9.477.748 15.338 6.983t5.861 15.713a24.083 24.083 0 0 1-6.609 17.209A21.879 21.879 0 0 1 80.558 84.8a22.773 22.773 0 0 1-17.957-7.981q-6.983-7.981-6.983-22.7a69.238 69.238 0 0 1 5.238-27.31 74.917 74.917 0 0 1 15.713-23.07 11.169 11.169 0 0 1 8.48-3.741 12.64 12.64 0 0 1 8.729 3.367 10.046 10.046 0 0 1 3.741 7.607 9.571 9.571 0 0 1-2.993 6.983q-8.98 9.48-11.973 19.955Z' fill='%23e8dcf9'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  position: absolute;
  top: 18%;
  left: 0;
  width: 104px;
  height: 85px;
  z-index: -1;
}

blockquote > * {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
  margin: 0;
}

blockquote p {
  margin: 0 !important;
}

blockquote:after {
  content: '';
}

blockquote cite {
  display: block;
  margin: 10px 0 0;
  font-style: normal;
  font-weight: 400 !important;
  text-align: inherit !important;
  text-transform: uppercase !important;
}
