/*
Theme Name: Teenglow Child
Theme URI: https://teenglow.qodeinteractive.com
Description: A child theme of Teenglow
Author: Select Themes
Author URI: https://qodeinteractive.com
Version: 1.0
Text Domain: teenglow
Template: teenglow
*/
